{# src/Perso/GalerieBundle/Resources/views/Galerie/index.html.twig #}

{% extends "PersoGalerieBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [class*="col"] { margin-bottom: 15px; }
    </style>
{% endblock %}

{% block body %}

    {% block titlePage %}
        <div class="h3">{{ 'title.listPhotos'|trans }}</div>
    {% endblock %}



    {% if nombrePage > 1 %}
        <nav>
            <ul class="pagination">
                {% for p in range(1, nombrePage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        {% if tags is defined %}
                            <a href="{{ path('perso_galerie_homepage', {'page': p, 'tags': tags}) }}">{{ p }}</a>
                        {% else %}
                            <a href="{{ path('perso_galerie_homepage', {'page': p}) }}">{{ p }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {%  endif %}

    <div class="row">


        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail thumbnailPerso col-xs-11 col-xs-offset-1">

                <div id="divNewPic" class="thumbnail empty"></div>

                <div class="caption">
                    <h4>{{ 'newPic'|trans }}</h4>
                    <p><br /></p>
                    <p>Ajoutez votre photo !</p>
                    <p>
                        <a href="{{ path('perso_galerie_addPhoto') }}" class="btn btn-primary glyphicon glyphicon-plus" role="button"></a>
                    </p>
                </div>
            </div>
        </div>
        {% include "PersoGalerieBundle:Galerie:affichPhotosInc.html.twig" %}


    </div>

    {% if nombrePage > 1 %}
        <nav>
            <ul class="pagination">
                {% for p in range(1, nombrePage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        {% if tags is defined %}
                            <a href="{{ path('perso_galerie_homepage', {'page': p, 'tags': tags}) }}">{{ p }}</a>
                        {% else %}
                            <a href="{{ path('perso_galerie_homepage', {'page': p}) }}">{{ p }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {%  endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $( "#divNewPic" ).on( "click", function() {
            window.location="{{ path('perso_galerie_addPhoto') }}";
        });
    </script>
{% endblock %}