{# src/Perso/GalerieBundle/Resources/views/Galerie/index.html.twig #}

{% extends "PersoGalerieBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [class*="col"] { margin-bottom: 15px; }
    </style>
{% endblock %}

{% block body %}

    {% block titlePage %}
        <div class="h3">Détails pour la photo : {{ photo.legende }}</div>
    {% endblock %}

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Proposée par {{ photo.user.username }}</div>
                <div class="panel-body">

                    {#<div class="coverImgBig" style="background-image:url({{ asset('img/uploads/') }}{{ photo.url }})"></div>#}

                    <img style="max-width: 100%;height: auto;" class="centre" src="{{ asset('img/uploads/') }}{{ photo.url }}" />
                    <p>
                        {{ photo.descriptif }}
                    </p>
                    <p>
                        <a href="{{ path('perso_galerie_vote', {'slug': photo.slug, 'typVote': 'up'}) }}" class="btn btn-success glyphicon glyphicon-thumbs-up" role="button">
                            <span class="badge">{{ photo.nbUp }}</span>
                        </a>
                        <a href="{{ path('perso_galerie_vote', {'slug': photo.slug, 'typVote': 'down'}) }}" class="btn btn-danger glyphicon glyphicon-thumbs-down" role="button">
                            <span class="badge">{{ photo.nbDown }}</span>
                        </a>
                    </p>
                </div>
            </div>

            {% if form is defined %}
                <div class="well">
                    <form method="post">
                        {{ form_widget(form) }}
                        <input type="submit" class="btn btn-primary" />
                    </form>
                </div>
            {% endif %}

            {% for commentaire in commentaires %}
                <p class="bg-info text-left">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Le {{ commentaire.createdAt|date("d/m/Y à H:d:s") }}, <strong>{{ commentaire.user.username }} a dit : </strong><br />
                    {{ commentaire.texte }}
                </p>
            {% endfor %}

        </div>

    </div>
    <a href="{{ path('perso_galerie_homepage') }}">Revenir à la liste</a>
{% endblock %}

