{# src/Perso/GalerieBundle/Resources/views/Galerie/index.html.twig #}

{% extends "PersoGalerieBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        [class*="col"] { margin-bottom: 15px; }
    </style>

{% endblock %}

{% block body %}

    {% block titlePage %}
        <div class="h3">{{ 'title.detailsPic'|trans }} : {{ photo.legende }}</div>
    {% endblock %}

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="nbVuesOnePhoto label label-default">{{ 'photo.nbVues'|transchoice(photo.nbVues) }}</div>
                    {{ 'proposedby'|trans }} <a href="{{ path('perso_user_view', {'username': photo.user.username}) }}">{{ photo.user.username }}</a>
                </div>
                <div class="panel-body">

                    {#<div class="coverImgBig" style="background-image:url({{ asset('img/uploads/') }}{{ photo.url }})"></div>#}

                    <img style="max-width: 100%;height: auto;" class="centre" src="{{ asset('img/uploads/') }}{{ photo.url }}" />
                    <p>
                        {{ photo.descriptif }}
                    </p>
                    <p>
                        <a href="{{ path('perso_galerie_vote', {'slug': photo.slug, 'typVote': 'up'}) }}" class="btn btn-success glyphicon glyphicon-thumbs-up" role="button">
                            <span class="badge">{{ photo.nbUp }}</span>
                        </a>
                        <a href="{{ path('perso_galerie_vote', {'slug': photo.slug, 'typVote': 'down'}) }}" class="btn btn-danger glyphicon glyphicon-thumbs-down" role="button">
                            <span class="badge">{{ photo.nbDown }}</span>
                        </a>
                    </p>
                </div>

                {% if (photo.tags|length) > 0 %}
                    <h6>{{ 'placeholderRechMotsCles'|trans }} :
                        {% for tag in photo.tags %}
                                <a href="{{ path('perso_galerie_homepage', {'page': 1, 'tags': tag.libTag}) }}" type="button" class="btn btn-default btn-xs">#{{ tag.libTag }}</a>
                        {% endfor %}
                    </h6>
                {% endif %}
            </div>

            {% if form is defined %}
                <div class="well">
                    <form method="post">
                        {{ form_widget(form) }}
                        <input type="submit" value="{{ 'form.validate'|trans }}" class="btn btn-primary" />
                    </form>
                </div>
            {% endif %}


            {% for commentaire in commentaires %}
                {% if loop.first %}
                   <table class="table tableCommentaires text-left"  id="firstComm">
                {% endif %}

                <tr><td>

                    <span class="glyphicon glyphicon-chevron-right"></span>
                        {# commentaire.createdAt|date("d/m/Y à H:i:s") #}
                    {{ commentaire.createdAt|localizeddate('medium', 'medium') }} <strong><a href="{{ path('perso_user_view', {'username': commentaire.user.username}) }}">{{ commentaire.user.username }}</a> {{ 'useradit'|trans }} : </strong><br />
                    {{ commentaire.texte }}

                </td></tr>

                {% if loop.last %}
                    </table>
                {% endif %}
            {% endfor %}
        </div>

    </div>
    <a href="{{ path('perso_galerie_homepage') }}">{{ 'backList'|trans }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}