<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}GALERIE D'IMAGES{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
            <style>
                body {
                    text-align:center;
                    background-position: center bottom;
                    background-repeat:no-repeat;
                    background-attachment:fixed;
                    background-size:   cover;
                }

            </style>
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


        <div class="container">
            <div class="row">

                <h1 class="jumbotron">
                    <div id="logoFDB"></div>
                    <span id="titreSite"><a href="{{ path('perso_galerie_homepage') }}">FACE DE BOUK !</a></span>
                </h1>
            </div>


            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuCollapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('perso_galerie_homepage') }}">FaceDeBouk</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="menuCollapse">
                        <ul class="nav navbar-nav">

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ app.user.username }}<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'viewProfile'|trans({}, 'FOSUserBundle') }}</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                    </ul>
                                </li>


                            {% else %}

                                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                                <li class="active"><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>

                            {% endif %}

                        </ul>

                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Entrez un ou plusieurs tags">
                            </div>
                            <button type="submit" class="btn btn-default">Chercher</button>
                        </form>

                    </div><!-- /.navbar-collapse -->



                </div><!-- /.container-fluid -->
            </nav>

            {# On affiche les messages flash que définissent les contrôleurs du bundle #}
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}

                    <div class="alert alert-{{ key }}">{{ message|trans }}</div>

                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

        </div>

        {% block javascripts %}
            {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
            <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>


</html>
