<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'titlePage'|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
            <style>
                body {
                    text-align:center;
                    background-position: center bottom;
                    background-repeat:no-repeat;
                    background-attachment:fixed;
                    background-size:   cover;
                }

            </style>
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/flags.css') }}" type="text/css" />
            <link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.5.1/assets/css/emojione.min.css"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>


        <div class="container">
            <div class="row">

                <h1 class="jumbotron">
                    <div id="logoFDB"></div>
                    <span id="titreSite"><a href="{{ path('perso_galerie_homepage') }}">{{ 'nameSite'|trans }}</a></span>
                </h1>
            </div>

            {% block mainNavBar %}
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header text-right pointer">

                            <div class="pull-right" id="divBlockLanguage">

                                <nav class="nav-collapse" role="navigation">
                                    <ul class="nav">
                                        <li class="dropdown">
                                            <div data-toggle="dropdown" class="dropdown-toggle" class="containCountry">
                                                <div class="flag flag-{{ app.request.locale }} pull-left"></div>
                                                <span class="caret"></span>
                                            </div>
                                            <ul class="dropdown-menu dropdown-menu-country menucountry">
                                                {% for i in 0 .. 2 %}
                                                    {% if app.request.locale != languages[i] %}
                                                        <li onclick="window.location='{{ path('select_lang', {'langue' : languages[i]}) }}'"><div class="containCountry"><div class="flag flag-{{ languages[i] }} pull-left"></div>
                                                                &nbsp;&nbsp;&nbsp;{{ languages_long[i] }}
                                                            </div></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>

                            </div>

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuCollapse" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('perso_galerie_homepage') }}">{{ 'nameSite'|trans|capitalize }}</a>
                        </div>



                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menuCollapse">
                            <ul class="nav navbar-nav">

                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}


                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <span class="glyphicon glyphicon-user"></span>
                                            {{ app.user.username }}<span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'viewProfile'|trans({}, 'FOSUserBundle') }}</a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'menu.user.deco'|trans }}</a></li>
                                        </ul>
                                    </li>


                                {% else %}

                                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'menu.user.connect'|trans }}</a></li>
                                    <li class="active"><a href="{{ path('fos_user_registration_register') }}">{{ 'menu.user.inscr'|trans }}</a></li>

                                {% endif %}

                            </ul>

                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path('perso_galerie_duels') }}">
                                        <span class="glyphicon glyphicon-flash"></span>
                                        {{ 'menu.faceaface'|trans }}
                                    </a>
                                </li>
                            </ul>





                            <form method="post" action="{{ path('perso_galerie_homepage') }}" class="navbar-form navbar-right" role="search">
                                <div class="form-group">

                                    <input type="text" class="form-control" id="inputRechTags" name="inputRechTags" placeholder="{{ 'placeholderRechMotsCles'|trans }}">
                                    <button type="submit" class="btn btn-default">{{ 'menu.search'|trans }}</button>

                                </div>

                            </form>






                        </div><!-- /.navbar-collapse -->



                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock mainNavBar %}


            {# On affiche les messages flash que définissent les contrôleurs du bundle #}
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}

                    <div class="alert alert-{{ key }}">{{ message|trans }}</div>

                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

        </div>

        <footer class="footer">
            <div class="container">
                <div class="visible-lg-block col-lg-3 text-left">
                    {{ 'footer.descriptif'|trans|raw }}
                </div>

                <div class="hidden-xs col-sm-4 col-lg-3 text-left">
                    {{ 'footer.social'|trans }} :<br />
                    <div class="socialImg socialImg-fb"></div>
                    <div class="socialImg socialImg-tw"></div>
                    <div class="socialImg socialImg-go"></div>
                    <div class="socialImg socialImg-mail"></div>
                </div>
                <div class="col-xs-4 visible-xs-block text-left">
                    {{ 'footer.socialshort'|trans }} :<br />
                    <div class="socialImg socialImg-fb"></div>
                    <div class="socialImg socialImg-tw"></div>
                    <div class="socialImg socialImg-go"></div>
                    <div class="socialImg socialImg-mail"></div>
                </div>


                <div class="col-xs-4 col-lg-3 text-left">
                    {{ 'footer.contact'|trans }}<br />
                    {{ 'footer.plansite'|trans }}<br />
                    {{ 'footer.faq'|trans }}<br />
                    {{ 'footer.mentions'|trans }}<br />
                </div>
                <div class="col-xs-4 col-lg-3 text-left">
                    Les tags les plus utilisés :<br />

                    {% for tag in displayTags() %}

                        <a href="{{ path('perso_galerie_homepage', {'page': 1, 'tags': tag.libTag}) }}" type="button" class="btn btn-default btn-xs">#{{ tag.libTag }}</a>
                    {% endfor %}


                    {#
                    {% for tag in displayTags() %}
                        <a href="{{ path('perso_galerie_homepage', {'page': 1, 'tags': tag.libTag}) }}" type="button" class="btn btn-default btn-xs">#{{ tag.libTag }}</a>
                    {% endfor %}
                    #}

                </div>
            </div>
        </footer>

        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
            <script src="//cdn.jsdelivr.net/emojione/1.5.1/lib/js/emojione.min.js"></script>

            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ asset('jquery-textcomplete-master/dist/jquery.textcomplete.min.js') }}"></script>
            <script src="{{ asset('js/emojicon.js') }}"></script>
        {% endblock %}
    </body>


</html>
